<div class="col-md-12">
    <!-- <div class="panel-heading">
      <h3 class="panel-title"><%#= Spree.t(:create_new_account) %></h3>
    </div> -->
    <div id="new-customer" data-hook="login">
      <%= form_for @user, :as => :spree_user, :url => spree.registration_path(@user) do |f| %>
        <div data-hook="signup_inside_form">
          <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
          <div class="textbox-wrap">
            <%= f.submit 'Register Here', :class => 'btn btn-default blue-btn btn-reg' %>
          </div>
        </div>
      <% end %>
      <div class="pull-right">
        <%#= Spree.t(:or) %>
          <%= link_to Spree.t(:login_as_existing), spree.login_path, :class=>"pull-right more" %>
      </div>
      <div data-hook="login_extras"></div>
    </div>
</div>
