<fieldset id="password-credentials">
  <div class="textbox-wrap" >
    <div class="input-group">
      <span class="input-group-addon inp"><i class="fa fa-facebook"></i></span>
      <%= f.email_field :email, :class => 'form-control frm', :placeholder => Spree.t(:email) %>
    </div>
  </div>
  <br>
  <div class="textbox-wrap" >
    <div class="input-group">
      <span class="input-group-addon inp"><i class="fa fa-facebook"></i></span>
      <%= f.password_field :password, :class => 'form-control', :placeholder => Spree.t(:password) %>
    </div>
  </div>
  <br>
  <div class="textbox-wrap" >
    <div class="input-group">
      <span class="input-group-addon inp"><i class="fa fa-facebook"></i></span>
      <%= f.password_field :password_confirmation, :class => 'form-control', :placeholder => Spree.t(:confirm_password) %>
    </div>
  </div>
  <br>
</fieldset>
<div data-hook="signup_below_password_fields"></div>
